@model DataModel

@{
    ViewData["Title"] = "Index";
}

<h1>Parkerade fordon</h1>

<form asp-action = "Search">
    <row>
        <div class="col-md-5">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="regNo" placeholder="Sök på registeringsnummer ..." />
                <div class="input-group-append">
                    <select name="vehicleType" class="form-control" asp-items="@Html.GetEnumSelectList<VehicleType>()">
                        <option selected="selected" value="">Välj fordonstyp</option>
                    </select>
                </div>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Sök</i> </button>
                </div>
            </div>
        </div>
    </row>
</form>

<partial name="VehiclePartial" model="Model.Vehicles"/>
